[Desktop Entry]
Name=MTS
Exec=/usr/lib/MTS/MTS %U
Icon=/usr/share/pixmaps/MTS.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/mts;
