[Desktop Entry]
Name=MTS
Exec=/usr/lib/mts/MTS %U
Icon=/usr/share/pixmaps/mts.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/mts;
